.sb__Buttons {
    padding: 10px;
}

.sb__Buttons-links {
    display: flex;
    flex-direction: column;
}

.sb__Buttons-links_div {
    position: absolute;
    right: 50px;
}

.sb__Buttons-links_div p {
    margin-right: 10px;
    display: inline;
}